body {
	background-color:white;
}
.container {
	padding: 0 0 0 0;
	margin: 0 0 0 0;	
	width:100%;
}

.stats-profile {
	padding-left:100px;
	padding-top:75px;

  	float: left;
	width:100%;

	background-color:#e9ebee;

}

.stats-profile img{
	float:left;
	margin-right:50px;
}

.stats-profile h4{
	float:left;
	margin-top:40px;

	vertical-align: middle;
	font-size:50px;
}

.stats-count {
	padding-left:100px;
	padding-top:75px;

	float:left;
	width:100%;

	background-color:#e9ebee;
}

.stats-count p{
	float:left;
	margin-right:300px;

	font-size:25px;
}

.stats-latest-post {
	padding-left:100px;

	float:left;
	width:100%;
}

.stats-latest-post p{
	float:left;

}

