{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}
Update Status ( &#64;{{ profile.name }} | fesbuk)
{% endblock %}

{% block style %}
<link href="{% static 'css/user_status.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<section name="input-status" id="input-status">
  <form id="form" method="POST" action="{% url 'status:add-status' %}">
    <h3>Update Status</h3>
      {% csrf_token %}
      {{ update_status_form }}
    <br>
    <input type="submit" value="Post" id="button" class="btn">
    </form>
</section>

<section name="list-status" id="list-status">
  <h3>Status</h3>
  {% if list %}
  <div class="flex">
    {% for data in list reversed %}
    <div class="flex-item">
      <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/photo-128.png" alt="Profile Picture" id="image">
      <h4>{{ profile.name }}</h4>
      <p class="paragraph">{{ data.status }}</p>
      <p class="date">{{ data.created_date }}</p>
    </div>
    <br>
    {% endfor %}
  </div>
  {% else %}
    <p class="paragraph">{{ profile.name }} belum pernah Update Status</p>
  {% endif %}
</section>
{% endblock %}
