{% extends "layout/base.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block style %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}"/>
{% endblock %}

{% block content %}
<div class="center_up">
  <h3>Profile</h3>
  <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/photo-128.png" alt="Profile Picture">
  <h1 style="text-align:center">{{ profile.name }}</h1>
</div>
<div class="center_down">
  <table align="center" style="text-align: center">
            <tr>
                <td class="subject">Birth date</td>
                <td class="value">: {{ profile.birthday }}</td>
            </tr>
            <tr>
                <td class="subject">Gender</td>
                <td class="value">: {{ profile.gender }}</td>
            </tr>
            <tr>
                <td class="subject">Description</td>
                <td class="value">: {{ profile.description }}</td>
            </tr>
            <tr>
                <td class="subject">Email</td>
                <td class="value">: {{ profile.email }}</td>
            </tr>
  </table>
  <br><br>
</div>
{% endblock %}
