textarea{
  resize: none;
  width: 100%;
}

#input-status{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}
#list-status{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

#button{
  background-color: #3b5998;
  color: white;
}

#image{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.paragraph{
  color: black;
}

.date{
  color: gray;
}

.flex{
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 2%;
  padding-right: 2%;
}

.flex-item{
  background: white;
  width: 370px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: auto;
  height: 150px;
  margin-bottom: auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px){
  #input-status{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  #list-status{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  #button{
    background-color: #3b5998;
    color: white;
  }

  #image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .paragraph{
    color: black;
  }

  .date{
    color: gray;
  }

  .flex{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .flex-item{
    background: white;
    width: 175px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: auto;
    height: 200px;
    margin-bottom: auto;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  }
}
