body {
  margin: 0;
  background-color:#e9ebee;
  font-family: arial;
}

.header {
  background-color: #3b5998;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

.left-side {
  width: 30%;
  color: white;
  float: left;
}

.right-side {
  padding-top: 0.6%;
  float: right;
  color: white;
  width: 25%;
  display: flex;
  overflow: hidden;
}

.flex-box p {
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}

.title {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
}

.flex-box {
  flex-grow: 1;
  font-size: 16px;
}

.flex-box+.flex-box {
  margin-left: 2%;
}

@media screen and (max-width: 900px) {
  .right-side {
    width: 60%;
    padding-top: 1.3%;
  }

  .flex-box+.flex-box {
  margin-left: 5%;
  }

}

@media screen and (max-width: 360px) {
  .right-side {
    padding-top: 3%;
  }

  .flex-box {
    font-size: 14px;
  }
}
