{% extends 'layout/base.html' %}
{% load static %}

{% block title %} Statistics {% endblock %}

{% block style %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_stats.css' %}"/>
{% endblock %}

{% block content %}
	<section name="basic-stats" id="basic-stats">
		<div class="container">
			<div class="stats-profile">
  				<img src="https://cdn4.iconfinder.com/data/icons/linecon/512/photo-128.png" alt="Profile Picture">
				<h4>{{ profile.name }}</h4>
			</div>
			<div class="stats-count">
				<p>Friends: {{ friend_count }} People</p>
				<p>Feed: {{ status_count }} Posts</p>
			</div>
		</div>
	</section>
	<section name="latest-post" id="latest-post">
		<div class="container">
			<div class="stats-latest-post">
				<h4>Latest Post</h4>
				{% if latest_post is not None %}
					<p>{{ latest_post.status }}</p><br>
					<p>{{ latest_post.created_date }}</p><br>
				{% else %}
					<p>This user hasn't posted anything yet.</p>
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}
