{% extends "layout/base.html" %}
{% load static %}

{% block title %}
Friends
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_friends.css' %}"/>
{% endblock %}

  {% block content %}
    <div class= "contain">
      <form class= "friend-form" method="POST" action="{% url 'friends:add_friend' %}">
        <h2>Add Friend</h2>
        {% csrf_token %}
        {{ friend_form }}
        <button class="friend-button">Add friend</button>
      </form>
    </div>
    <div class= "contain">
      <h2>Friend List</h2>
      <div class= "flex">
        {% if friend %}
          {% for data in friend %}
            <div class= "flex-item">
              <div class= "friend">
                <div class= "friend-name">
                  {{ data.name }}
                </div>
                <a class= "friend-url" target="_new" href="{{ data.url }}">
                  {{ data.url }}
                </a>
                <div class= "friend-added-date">
                  {{ data.added_date }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
        {% endif %}
      </div>
    </div>
  {% endblock %}
