tr,td {
    text-align: left;
    padding: 0.5rem;
}

.subject{
    font-size: 25px;
    font-family: "Arial";
    color: #212121;
}

.value{
    font-size: 25px;
    font-family: "Arial", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #212121;
}

img {
  float: left;
  vertical-align: middle;
  width: 17rem;
  height: auto;
  margin-left: 10rem;
}

h1 {
  float: left;
  font-size: 5rem;
  text-align: center;
  vertical-align: middle;
  font-family: "Arial";
  margin-top: 60px;
  margin-left: 30px;
}

h3 {
  color: #212121;
  text-align: center;
  font-family: "Arial";
  font-size: 2rem;
  margin: 1rem;
  top:50%;
  left:50%;
}

.left_aligned {
  position:absolute;
  top:15%;
  left:10%;
  -ms-transform: translateX(-30%) translateY(-50%);
  -webkit-transform: translate(-30%,-50%);
  transform: translate(-30%,-50%);
}
.center_up {
  position:absolute;
  align-items: center;
  text-align: center;
  width: 90%;
  top:30%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.center_down {
  position:absolute;
  align-items: center;
  text-align: center;
  top:80%;
  left:50%;
  width: 100%;
  height: 50%;
  padding-left: 5rem;
  padding-top: 5rem;
  margin-right: 2rem;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: white;
}

@media screen and (max-width: 1046px) {
  .subject{
      font-size: 18px;
      font-family: "Montserrat";
      color: #212121;
  }
  .value{
      font-size: 18px;
      font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
      color: #212121;
  }
  img {
    float: left;
    vertical-align: middle;
    width: 15rem;
    height: auto;
    margin-left: 10rem;
  }

  h1 {
    float: left;
    font-size: 4rem;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    margin-top: 60px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 829px) {
  img {
    float: left;
    vertical-align: middle;
    width: 13rem;
    height: auto;
    margin-left: 10rem;
  }

  h1 {
    float: left;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    margin-top: 50px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 677px) {
  img {
    vertical-align: middle;
    width: 12rem;
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
  }

  h1 {
    float: left;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    margin-top: 40px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 621px) {
  img {
    float: left;
    vertical-align: middle;
    width: 10rem;
    height: auto;
    margin-left: 4rem;
  }

  h1 {
    float: left;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 577px) {
  img {
    vertical-align: middle;
    align-items: center;
    width: 10rem;
    height: auto;
    margin-left: 40%;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    margin-top: 30px;
    margin-left: 18%;
  }
}

@media screen and (max-width: 502px) {
  .subject{
      font-size: 12px;
      font-family: "Montserrat";
      color: #212121;
  }
  .value{
      font-size: 12px;
      font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
      color: #212121;
  }
}

@media screen and (max-width: 473px) {
  img {
    vertical-align: middle;
    align-items: center;
    width: 10rem;
    height: auto;
    margin-left: 38%;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    margin-top: 30px;
    margin-left: 12%;
  }
}

@media screen and (max-width: 441px) {
  img {
    vertical-align: middle;
    align-items: center;
    width: 10rem;
    height: auto;
    margin-left: 36%;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    margin-top: 10px;
    margin-left: 6%;
  }

}
